<!-- views/loginInst.ejs
<!DOCTYPE html>
<html>
<head>
  <title>Instagram Login</title>
</head>
<body>
  <h2>Login with Instagram</h2>
  
  <a href="/profile/instagram/login">Login via Instagram</a>
</body>
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instagram Login</title>
</head>
<body>
  <h2>Login with Instagram</h2>
  <a href="https://www.facebook.com/v19.0/dialog/oauth?client_id=1512657023191128&redirect_uri=https://tajertrust.onrender.com/profile/instagram/callback&scope=pages_show_list,instagram_basic,instagram_graph_user_profile&response_type=code">
    <button>Login with Instagram</button>
  </a>
</body>
</html>
