<div class="dark:bg-gray-800 min-h-screen bg-gray-50  md:flex-row">
<div class=" max-w-md mx-auto mt-16 p-6 bg-white dark:bg-gray-800 rounded shadow">
  <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">Mettre à jour le mot de passe</h2>
  <%- include('partials/flash') %>
  <form action="/update-password" method="POST" class="space-y-4">
      <div>
        <label class="block text-gray-600 dark:text-gray-300">Ancien mot de passe</label>
        <input type="password" name="current_password" required class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white">
      </div>
      <div>
        <label class="block text-gray-600 dark:text-gray-300">Nouveau mot de passe</label>
        <input type="password" name="new_password" required class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white">
      </div>
      <div>
        <label class="block text-gray-600 dark:text-gray-300">Confirmer le nouveau mot de passe</label>
        <input type="password" name="confirm_password" required class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white">
      </div>
      <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Mettre à jour</button>
    </form>
  </div>
  </div>
  